import React from 'react';
import PropTypes from 'prop-types';

import styles from './{{componentName}}.css';

export default function {{componentName}} = ({ property }) => {
  return (
    <div className={styles.divStyle}>
      {property}
    </div>
  );
};

{{componentName}}.propTypes = {
  property: PropTypes.string,
};

{{componentName}}.defaultProps = {
  property: 'value',
};
