import {{componentName}} from './{{componentName}}';

describe('{{componentName}}', () => {
  it('renders', () => {
    const wrapper = shallow(<{{componentName}} />);

    const divElem = wrapper.find('div');

    expect(wrapper).toHaveClassName('divStyle');
  });
});
